<!DOCTYPE html>
<html>

<link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href='css/login.css' rel='stylesheet' type='text/css'>
  
<header class="main_h">
    <title>Gossamyr's End</title>
</header>

<body>
    
    <!-- start of cover -->
    <div class="hero">
        
        <!-- start of entry form -->
        <div class="login-page">
            <a href="/"><img src="img/logo-1.png" class="logo"></a>
            <h1><span>Add Entry</span></h1>
            <p>{{messages.statusMessage}}</p>
            <div class="form">
                <form class="login-form" method="post" action="/add-entry" enctype="multipart/form-data">
                    <input type="text" placeholder="Entry Title" name="title" id="title" required>
                    <input type="text" placeholder="Author" name="author" id="author">
                    <select name="type" id="type">
                        <option value="manga">Manga</option>
                        <option value="webtoon">Webtoon</option>
                        <option value="novel">Light Novel</option>
                    </select>
                    <input type="file" name="image" id="image" style="color: black;">
                    <button>Add</button>
                </form>
            </div>
        </div>
        <!-- end of entry form -->

    </div>
    <!-- end of cover -->

</body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
</html>