<!DOCTYPE html>
<html>
  
<header class="main_h">
    <title>Gossamyr's End</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <link href='css/main.css' rel='stylesheet' type='text/css'>
    <link href='css/contact.css' rel='stylesheet' type='text/css'>
    <link href='css/list.css' rel='stylesheet' type='text/css'>

    <!-- start of menu -->
    <div class="row">
        <a class="name" href="/">Gossamyr's End</a>
        <div class="mobile-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <nav>
            <ul>
                <li><button class="menu"><span><a href=".hero">Home</a></span></button></li>
                {% if loggedIn == false %}
                    <li><button class="menu"><span><a href=".sec01">About</a></span></button></li>
                {% endif %}
                <li><button class="menu"><span><a href=".sec02">Reading List</a></span></button></li>
                <li><button class="menu"><span><a href=".sec05">Contact</a></span></button></li>
                {% if loggedIn %}
                    <li><button class="menu"><span><a href="/logout">Logout</a></span></button></li>
                {% else %}
                    <li><button class="menu"><span><a href="/login">Login</a></span></button></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <!-- end of menu -->
</header>

<body>
    
    <!-- start of cover -->
    <div class="hero">
        <img src="img/logo-1.png" class="logo">
        <h1>
            <span>
                {% if loggedIn %}
                    {{user.username}}
                {% else %}
                    Gossamyr
                {% endif %}
            </span>
            <br> learn <br> live <br> laugh <br> love
            {% if loggedIn %}
                <span><br><a href="/logout">Logout</a></span>
            {% else %}
                <span><br><a href="/Login">login</a></span>
            {% endif %}
        </h1>
        <div class="mouse">
            <span></span>
        </div>
    </div>
    <!-- end of cover -->

    <!-- start of row content -->
    <div class="row content">
        {% if loggedIn == false %}
            <h1 class="sec01"><img src="img/about.png" class="icons">About</h1>
            <img src="img/sunjing.png" class="sunjing">
            <h2 style="text-align: center;">
                A personal website using ExpressJS and with database interactions. This is for the compliance of a project in CMSC 126 Web Engineering Course.
            </h2>
            <p style="text-align: center;">
                Gossamyr's End is intended for those who have interest in keeping track of the Mangas, Webtoons and Light Novels that they are reading. Current features only include basic details, specifically the Title, Author and Cover Image.
            </p>
        {% endif %}

        <!-- start of manga -->
        <h1 class="sec02">
            <img src="img/manga.png" class="icons">
            Manga
        </h1>

        <ul class="img-list">
            {% if loggedIn %}
                {% for m in manga %}
                    <li id="{{m.id}}">
                        <a href="#" style="background-image: url('{{m.image}}');"></a>
                        <div class="details">
                            <h3><a href="#">{{m.title}}</a></h3>
                            {% if m.author == "" %}
                                <p class="image-author">n/a</p>
                            {% else %}
                                <p class="image-author">{{m.author}}</p>
                            {% endif %}
                        </div>
                        <form action="/edit" method="post">
                            <input type="text" name="id" value="{{m.id}}" hidden>
                            <input type="text" name="title" value="{{m.title}}" hidden>
                            <input type="text" name="author" value="{{m.author}}" hidden>
                            <input type="text" name="category" value="manga" hidden>
                            <input type="text" name="image" value="{{m.image}}" hidden>
                            <button class="button"><span>Edit </span></button>
                        </form>
                        <form action="/delete-entry" method="post">
                            <input type="text" name="id" value="{{m.id}}" hidden>
                            <button class="button"><span>Delete </span></button>
                        </form>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <!-- add entries -->
         <a href="/add-entry"><button class="button other-btn"><span>Add Entry</span></button></a>
        <!-- end of manga -->

        <!-- start of webtoon -->
        <h1 class="sec03"><img src="img/webtoon.png" class="icons">Webtoon</h1>
        <ul class="img-list">
            {% if loggedIn %}
                {% for w in webtoon %}
                    <li id="{{w.id}}">
                        <a href="#" style="background-image: url('{{w.image}}');"></a>
                        <div class="details">
                            <h3><a href="#">{{w.title}}</a></h3>
                            {% if w.author == "" %}
                                <p class="image-author">n/a</p>
                            {% else %}
                                <p class="image-author">{{w.author}}</p>
                            {% endif %}
                        </div>
                        <form action="/edit" method="post">
                            <input type="text" name="id" value="{{w.id}}" hidden>
                            <input type="text" name="title" value="{{w.title}}" hidden>
                            <input type="text" name="author" value="{{w.author}}" hidden>
                            <input type="text" name="category" value="webtoon" hidden>
                            <input type="text" name="image" value="{{w.image}}" hidden>
                            <button class="button"><span>Edit </span></button>
                        </form>
                        <form action="/delete-entry" method="post">
                            <input type="text" name="title" value="{{w.id}}" hidden>
                            <button class="button"><span>Delete </span></button>
                        </form>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <!-- add entries -->
         <a href="/add-entry"><button class="button other-btn"><span>Add Entry</span></button></a>
        <!-- end of webtoon -->

        <!-- start of novel -->
        <h1 class="sec04"><img src="img/novel.png" class="icons">Light Novel</h1>
        <ul class="img-list">
            {% if loggedIn %}
                {% for n in novel %}
                    <li id="{{n.id}}">
                        <a href="#" style="background-image: url('{{n.image}}');"></a>
                        <div class="details">
                            <h3><a href="#">{{n.title}}</a></h3>
                            {% if n.author == "" %}
                                <p class="image-author">n/a</p>
                            {% else %}
                                <p class="image-author">{{n.author}}</p>
                            {% endif %}
                        </div>
                        <form action="/edit" method="post">
                            <input type="text" name="id" value="{{n.id}}" hidden>
                            <input type="text" name="title" value="{{n.title}}" hidden>
                            <input type="text" name="author" value="{{n.author}}" hidden>
                            <input type="text" name="category" value="novel" hidden>
                            <input type="text" name="image" value="{{n.image}}" hidden>
                            <button class="button"><span>Edit </span></button>
                        </form>
                        <form action="/delete-entry" method="post">
                            <input type="text" name="title" value="{{n.id}}" hidden>
                            <button class="button"><span>Delete </span></button>
                        </form>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>

        <!-- add entries -->
         <a href="/add-entry"><button class="button other-btn"><span>Add Entry</span></button></a>
        <!-- end of novel -->

        <!-- start of contact form -->
        <h1 class="sec05"><img src="img/contact.png" class="icons">Contact</h1>
        <form id="form" class="topBefore" method="post" action="/contact">
            <input name="name" type="text" placeholder="NAME">
            <input name="email" type="text" placeholder="E-MAIL" value="{{user.email}}" required>
            <textarea name="message" type="text" placeholder="MESSAGE" required></textarea>
            <input name="submit" type="submit" value="GO!">
        </form>
        <!-- end of contact form -->

    </div>
    <!-- end of row content -->

</body>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
</html>