<!DOCTYPE html>
<html>
  
<header class="main_h">
    <title>Gossamyr's End</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
<link href='css/login.css' rel='stylesheet' type='text/css'>
</header>

<body>
    
    <!-- start of cover -->
    <div class="hero">
        
        <!-- start of login form -->
        <div class="login-page">
            <a href="/"><img src="img/logo-1.png" class="logo"></a>
            <h1><span>User Login</span></h1>
            <p>{{messages.loginMessage}}</p>
            <div class="form">
                <form class="register-form" method="post" action="/create">
                    <input type="text" placeholder="email address" name="email" id="email" required>
                    <input type="text" placeholder="username" name="username" id="username" required>
                    <input type="password" placeholder="password" name="password" id="password" required>
                    <input type="password" placeholder="confirm password" name="confirmation" id="confirmation" required>
                    <button>Create</button>
                    <p class="message">Already registered? <a href="#">Login</a></p>
                </form>
                <form class="login-form" method="post" action="/login">
                    <input type="text" placeholder="username" name="username" id="username" required>
                    <input type="password" placeholder="password" name="password" id="password" require/>
                    <button>Login</button>
                    <a href="/auth/twitter"><img class="icon tweet" src="img/twitter.png"></a>
                    <a href="/auth/google"><img class="icon" src="img/google.png"></a>
                    <p class="message">Not registered? <a href="#">Create account</a></p>
                </form>
            </div>
        </div>
        <!-- end of login form -->

    </div>
    <!-- end of cover -->

</body>
    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script src="js/login.js"></script>
</html>