/* List */

.img-list {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 1150px;
    padding: 0;
}

.img-list li {
    display: inline-block;
    width: 150px;
    margin: 0 12px 30px;
}

.img-list li:hover {
  background-color: white;
}

.img-list li>form {
    display: none;
}

.img-list li:hover>form {
    display: block;
}

/* Button */

.button {
  border-radius: 4px;
  background-color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Add Entry */

.other-btn {
  font-size: 18px;
  width: 150px;
  height: 30px;
  display: block;
  margin: auto;
}

.other-btn span:after {
  margin-top: 8px;
  right: -5px;
  padding-right: 5px;
}

.other-btn:hover span {
  padding: 10px;
  padding-right: 25px;
  border: 2px solid white;
}

/* Photo */

.img-list li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 137px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
}

.img-list .details {
    margin-top: 13px;
}

/* Title */

.img-list .details h3 {
    display: block;
    font-size: 12px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-list .details h3 a{
    color:  #303030;
    text-decoration: none;
}

.img-list .details .image-author {
    display: block;
    color:  #717171;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
}

/* Prompt Entry */

.img-list h1 {
  font-size: 25px;
  line-height: 1;
  text-align: left;
  margin-left: 11%;
}
.img-list h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 20px;
  line-height: 3;
}