@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(../img/lights.jpg);
}

.hero {
  text-align: center;
  color: #fff;
  padding-top: 70px;
  letter-spacing: 1.5px;
  font-family: "Montserrat", sans-serif;
}

.logo {
  width: 200px;
  height: 150px;
}

.hero h1 {
  font-size: 25px;
  line-height: 1;
  text-align: center;
  padding-top: 10px;
}

.login-page {
  width: 500px;
  display: block;
  text-align: center;
  margin:0 auto;
}

.login-page p {
  font-size: 15px;
  color: white;
}

.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input, select {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: white;
  color: black;
}

.form .message {
  margin: 15px 0 0;
  color: gray;
  font-size: 12px;
}

.form .message a {
  color: white;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.icon {
  width: 40px;
  height: 40px;
  padding-top: 10px;
}

.tweet {
  width: 45px;
    height: 45px;
}